html{
    max-width: 100%;
    max-height: 100%;
}
/* *{
    box-sizing: border-box;
} */
body{
    background-color: white;
}
/* @media only screen and (min-width: 1030px) and (max-width: 1366px) {
    .content {
        width: 100%;
    }
 } */
 @media only screen  (max-width: 700px) {
    body {
        background-color: pink;
        }
        #div1{
            width: 100%;
            top: 75px;
            position: absolute;
            z-index: 2;
            right: 0;
        }

    }
 
 /* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */
 /* @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .content {
        width: 100%;
    }
 } */
#div1{
    height: 40px;
    width: 100%;
    /* border: solid 2px black; */
    background-color: hotpink;
    /* background-image: url(https://adn-static1.nykaa.com/media/wysiwyg/2021/common-strip.jpg) */
    display: flex;
    color: white;
    text-align: center;
    position: fixed;
    padding-top: 10px;
    align-items: center;
    display: flex;
    align-items: center;
}
#div2{
    height: 60px;
    border-bottom: solid 2px rgb(184, 179, 179);
    display: flex;
    width: 100%;
    background-color: white;
    position:fixed;
    margin-top: 40px;
    padding-top: 10px;
}
#div3{
    height: 40px;
    /* border-top: solid 1px rgb(184, 179, 179); */
    display: flex;
    background-color: white;
    margin-top: 100px;
    padding-top: 10px;

}
#div4{
    height: 450px;
    }
#div5{
    height: 350px;
    display: flex;
}
#div6{
    height: 200px;
    display: flex;
}
#div7{
    height: 80px;
}
#div8{
    height:1000px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    border-bottom:gray ;
}
.div9{
    height: 62.3px;
    width: 100%;
    font-size: 20px;
}
#div10{
    height: 1830px;
    width: 1050px ;
    border-bottom:gray ;
}
#scroll{
    height: 1000px;
    width: 1050px;
    overflow: scroll;
    border-bottom:gray ;
}
#div11{
    height: 1010px;
    width: 100%;
    display: flex;
    border-bottom:solid 1px rgb(201, 196, 196) ;
}
#main{
    height: 3400px;
}
#new-div{
    height: 100px;
    padding-top: 1000px;
    border: solid 1px black;
    justify-content: end;    
}
#div12{
    height: 200px;
    /* border:solid 2px black; */
    width: 100%;
    /* justify-content: center; */
}
#msg{
    height: 120px;
    width: 92%;
    border:solid 2px rgb(248, 223, 223) ;
    background-color: rgb(252, 231, 231);
    margin: 40px;
    border-radius: 10px;
    color: rgb(87, 85, 85);
    text-align: center;
    justify-content: center;
    font-size: 15px;
    padding-top: 30px;
}
#all_pro{
    height: 80px;
    /* border: solid 1px black; */
}
.img{
    height: 320px;
    /* border: solid 1px black; */
    display: flex;
}
#img1{
    height: 320px;
    /* border: solid 1px black; */
    display: flex;
    justify-content: center;
}
.col{
    height: 100%;
    width: 33.3%;
    /* border: solid 1px black; */
}
#col2{
        height: 100%;
        width: 33.3%;
}
.pic{
    height: 240px;
    width: 100%;
    border-radius: 10px;
    /* border: solid 1px black; */
}
.rate{
    height: 80px;
    width: 100%;
    /* background-color: white; */
}
#matter{
    height: 40px;
    width: 750px;
    /* border: solid 1px black; */
    text-align: center;
    float:left;
    
    padding-top: 10px;
}
#getapp{
    height: 40px;
    width: 119px;
    /* border: solid 1px black; */
    text-align: center;
    /* display: flex; */
    align-items: center;
}
#store{
    height: 40px;
    width: 150px;
    /* border: solid 1px black; */
    text-align: center;
}
#gift{
    height: 40px;
    width: 150px;
    /* border: solid 1px black; */
    text-align: center;
}
#help{
    height: 40px;
    width: 100px;
    /* border: solid 1px black; */
    text-align: center;
    flex-grow: 1;
}
#nyka{
    height: 100%;
    width: 200px;
    /* border: solid 1px black; */
    text-align: center;
    float:left;
    color: deeppink;
    font-style:italic;
    font-size: 30px;
    padding-top: 0px;
}
#cat{
    height: 100%;
    width: 120px;
    /* border: solid 1px black; */
    text-align: center;
    float:left;
}
#brand{
    float:left;
    height: 100%;
    width: 120px;
    /* border: solid 1px black; */
    text-align: center;
    float:left;
}
#luxe{
    height: 100%;
    width: 120px;
    /* border: solid 1px black; */
    text-align: center;
    float:left;
}
#ny_fas{
    height: 100%;
    width: 150px;
    /* border: solid 1px black; */
    text-align: center;
    float:left;
}
#beauty{
    height: 100%;
    width: 150px;
    /* border: solid 1px black; */
    text-align: center;
    float:left;
}
#search{
    height: 100%;
    width: 229px;
    /* border: solid 1px black; */
    text-align: center;
    float:left;
}
#sign{
    height: 100%;
    width: 120px;
    /* border: solid 1px black; */
    text-align: center;
    float:left;
}
#bag{
    height: 100%;
    width: 120px;
    /* border: solid 1px black; */
    text-align: center;
    float:left;
}
#makeup{
    height: 100%;
    width: 150px;
    /* border: solid 1px black; */
    text-align: center;
    float:left;
    color: gray;    
    background-color: white;
}
.start{
    height: 100%;
    width: 100px;
    /* border: solid 1px black; */
    text-align: center;
    float:left;
    color: gray;
}
#health{
    height: 100%;
    width: 129px;
    /* border: solid 1px black; */
    text-align: center;
    float:left;
    color: gray;
}
#offer{
    height: 100%;
    width: 150px;
    /* border: solid 1px black; */
    text-align: center;
    float:left;
    color: gray;
}

#item1{
    height:85%;
    width:46%;
    margin: 25px;
    /* display: inline-block;s */
}
#item2{
    height:85%;
    width:46%;
    margin: 25px;
    /* float:left; */
}
#inside{
    height: 100px;
    width: 92%;
    margin-top:50px;
    margin-left:50px;
}
p{
    color: black;
}
#change{
    color: black;
    text-align: center;
}
h2{
    text-align: center;
}
#button{
    background-color: rgb(243, 30, 136);
    border: solid 1px white;
    height: 40px;
    width: 80px;
    border-radius: 15px;
    cursor: pointer
}
button{
    cursor: pointer;
}
#nyka-button{
    height: 100%;
    width: 200px;
    color: deeppink;
    font-style:oblique;
    font-size: 30px;
    background-color: white;
    border: solid 1px white;
    cursor: pointer
}
.button_color{
    background-color: hotpink;
    border: solid 1px  hotpink;
    color: white;
    cursor: pointer;
}
#button1{
    background-color: white;
    border: solid 1px white;
    cursor: pointer;
}
.button2{
    background-color: white;
    color: black;
    font-size:medium;
    border: solid 1px white;
    cursor: pointer;
}
.div3-button{
    background-color: white;
    border: solid 1px white;
    color: gray;
    cursor: pointer
}
.div9-button{
    height: 100%;
    width: 100%;
    font-size: medium;
    background-color: white;
    border: solid 1px white;
    text-align: left;
    cursor: pointer
}

input{
    color: gray;
    height: 40px;
    width: 180px;
    border-radius: 10px;
    border: solid 1px rgb(184, 180, 180);
}
#cards{
    height: 150px;
    width: 1050px;
    justify-content: space-around;
    /* justify-content: center; */
    display: flex;
}
.item3{
    height: 100px;
    width: 40%;
    /* border: solid 1px black; */
    margin-top: 20px;
}
.colour{
    color: rgb(63, 62, 62);
}
#written{
    height:25%;
    /* border: solid 1px black; */
    width: 100%;
}
#images{
    height: 75%;
    width: 100%;
    /* border: solid 1px black; */
}
#div4-h2{
    text-align:left;
    padding-left: 50px;
    /* font-size:large; */
    /* font-style:Bold; */

}
#div4-h4{
    text-align: left;
    padding-left: 50px;
    color: gray;
    padding-top:0px ;
}
#new-img{
    height: 90%;
    width: 100%;
    border-radius: 20px;
    /* border: solid 1px black; */
    position: bottom;
}
#plain{
    height: 40px;
    width: 100%;
    background-color: rgb(243, 235, 235);
}
#email{
    height: 210px;
    /* border: solid 1px black; */
    width: 100%;
    background-color: #3f414d;
    padding-left: 120px;
    padding-right: 100px;
    display: flex;
}
#total{
    height: 380px;
    /* border: solid 1px black; */
    width: 100%;
    padding-left: 120px;
    padding-right: 100px;
    display: flex;
    color: white;
    background-color: rgb(163, 154, 154);
}
#shipping{
    height: 210px;
    /* border: solid 1px black;  */
    width: 100%;
    padding-left: 120px;
    padding-right: 100px;
    display: flex;
    background-color: rgb(252, 247, 247);
}
#condition{
    height: 80px;
    /* border: solid 1px black;  */
    width: 100%;
    background-color: rgb(252, 56, 154);
}
#last{
    height: 40px;
    /* border: solid 1px black;  */
    width: 100%;
    background-color: rgb(252, 247, 247);
}
.new-email{
    height: 100%;
    width: 30%;
    /* border: solid 1px black; */
}
#end{
    height: 100%;
    width: 450px;
    /* border: solid 1px black; */
}
.top-half{
    height: 40%;
    width: 100%;
    display:flex;
    /* border: solid 1px black; */
    color: white;
    padding: 20px;
    align-items: center;
}

.down-half{
    height: 60%;
    width: 100%;
    /* border: solid 1px black; */
    color: white;
    padding-left: 20px;
    
}
.five{
    height: 100%;
    width: 20%;
}
.five1{
    height: 100%;
    width: 20%;
    /* border: solid 1px black; */
    padding-top: 50px;
    color: rgb(114, 111, 111);
    align-items: center;
    display: flex;
}
.five2{
    height: 100%;
    width: 25%;
    /* border: solid 1px black; */
    padding-top: 50px;
    color: rgb(114, 111, 111);
    /* align-items: center; */
    /* display: flex; */
}
.left-side{
    height: 100%;
    width: 30%;
    /* border: solid 1px black; */
}
.right-side{
    height: 100%;
    width: 70%;
    /* border: solid 1px black; */
}
#img-colour{
    color: white;
}

.input1{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:solid 1px rgb(255, 255, 255) ;
    border-radius: 0px;
    color: rgb(255, 255, 255);
    background-color: transparent;
}
.input2{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:solid 1px rgb(156, 154, 154) ;
    border-radius: 0px;
    color: black;
    width: 130px;
    background-color: transparent;
    align-items: center;
}
.submit-button{
    color: white;
    height: 30px;
    width: 50px;
    background-color: transparent;
    border: solid 1px white;
}
.placeholder{
    color: white;
}
.button-f{
    background-color: transparent;
    border: none;
    color: white;
}
#style{
    font-style: oblique;
}
.button-five{
    background-color: transparent;
    border: none;
    color: white;
    height: 30px;
}
#con-top{
    height: 50%;
    width: 100%;
    /* border: solid 1px black; */
    align-items: center;
    color: white;
    display: flex;
    padding-left:450px ;
}
#con-down{
    height: 50%;
    width: 100%;
    /* border: solid 1px black; */
    color: white;
    align-items: center;
    padding-left: 500px;
    font-size: 15px;
}
.con-button{
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
}